html { box-sizing: border-box; }
*, *:after, *:before { box-sizing: inherit; }

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Alegreya', serif;
}

p {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 14px;
}

li {
    font-size: 14px;
}

h3, h2 {
    font-family: 'Alegreya', serif;
    font-weight: 400;
}



.container {
    position: relative;
    overflow: hidden;
 
}

/* Menu + logo */


#nav-bar {
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar {
    background-color: white;
    padding: 0 !important;
}

.navbar-brand img {
    height: 70px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 11px;
    font-family: 'Alegreya', serif;

}

.nav-link {
    font-size: 22px;
    font-weight: 400;
}

.nav-link:hover {
    background-color: #00C4BE; 
    color: white; 
    border-radius: 5px;
}

.navbar-nav li a {
    color: #00C4BE;
    font-weight: 600;
    float: right;
    text-align: left;
}


.fa-bars {
    color: #E84646;
    font-size: 30px !important;
} 

.navbar-toggler {
    outline: none !important;
}

/* Banner sekce */

#banner {
    background-size: cover;
    color: rgb(225, 230, 237);
    padding-top: 5%;
    width: 100%;
    height: 280px;
    opacity: 0.8;
    z-index: -1;

}


.promo-title h1 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Alegreya', serif;
    margin-top: 15px;
    line-height: 1.5;
    padding-top: 25px;
    text-align: center;
    z-index: 3;

}

.promo-title p{
    font-size: 18px;
    margin-top: 30px;
    font-weight: 200;
    line-height: 1.5;
    text-align: center;

}

.fa-play {
    color: white;
    font-size: 20px;
}

.bottom-img {
    width: 100%;
}



/* Služby */

#services {
    padding: 80px 0;
}

#block {
    text-align: justify;

}

.services-img {
    width: 100px;
    margin-top: 20px;
}

.services {
    padding: 20px;
}

.services h4 {
    padding: 5px;
    margin-top: 25px;
 
}

.title::before {
    content:'';
    background-color: rgb(42, 115, 116);
    height: 3px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: block;
    transform: translateY(63px);

}

.card {
    width: 70%;
    margin: auto;
}

.card-text {
    font-size: 12px;
}

.card-img img {
    height: 100px;
    padding-top: 20px;
}


#services .btn-primary {
    box-shadow: none;
    padding: 20px 50px;
    margin-top: 50px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to right, rgb(165, 124, 124), rgb(41, 142, 209));
    font-family: 'Alegreya', serif;
}

.open-paragraph {
    margin-top: 50px;
}


/* O rodinné terapii */

#terapie {
    background: rgb(72,139,167)
}

#terapie p {
    padding-top: 50px;
    padding-bottom: 30px;
}

#terapie h2 {
    padding-top: 30px;
}

/* O mě */

#about-me {
    background: rgb(230, 230, 229);
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-title {
    font-size: 30px;
    font-weight: 400;
    margin-top: 8%;
}

#about-me ul {
    padding-top: 30px;
}

#about-me ul li {
    margin: 10px 0;
    font-family: 'Alegreya', serif;
}

.img {
    border-radius: 5%;
    max-height: 300px;
    border-radius: 50%;
    margin-left: 0;
}

#block {
    margin: auto;
    padding: 0;
}

/* Ceník */

#pricelist {
    background-color:#E84646;
    padding: 30px;
}

/* Konzultace */
#consultation {
    background-color: #00C4BE;
    padding: 30px;
}


/* Reference */

#references {
    margin: 100px 0;
}

#references img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 10px;
}

.references {
    border-left: 2px solid rgb(139,72,38);
    margin-top: 50px;
    margin-bottom: 50px;
}

.references p {
    padding-top: 50px;
}

#references h2 {
    padding-bottom: 50px;
}

.user-detail {
    display: inline-block;
    font-size: 12px;
}

/* Sociální sítě */

#social-media {
    background: rgb(72,139,167);
    padding: 100px 0;
}

#social-media p {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
}

.social-icons img {
    width: 60px;
    transition: 0.5s;
    margin-right: 30px;
    color: gray;
} 

.social-icons a:hover img {
    transform: translateY(-10px);
}

.social-title {
    font-family: 'Alegreya', serif;
    padding-bottom: 20px;
}

/* Patička */
#footer {
    background-color: rgb(8,51,80);
    color: white;
}

.footer-box {
    padding: 20px;
    max-height: 300px;
}

.footer-box img {
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-color: linear-gradient(to right, rgb(165, 124, 124), rgb(41, 142, 209));
}

.footer-box .form-control {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    text-align: center;
    font-family: 'Alegreya', serif;
   
}

.footer-box .btn-primary {
    box-shadow: none !important;
    border: none;
    border-radius: 20px;
    margin-top: 25px;
    background-color: rgb(213, 213, 233);
    color: rgb(40, 39, 39);
    font-family: 'Alegreya', serif;

}

hr {
    background-color: white;

}

.copyright {
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}

#footer p {
    font-size: 15px;
    padding: 0px;
    margin: auto;
}

/* Rozlišení pro zařízení se šířkou minimálně 768px */

@media (min-width: 768px) {
    .navbar-brand img {
        height: 120px;
        padding-left: 40px;
    }

    .navbar-nav li a {
        color: #E84646 !important;
        font-weight: 400;
    }

    p {
        font-size: 18px;
    }

    li {
        font-size: 18px;
    }

    .img {
    border-radius: 5%;
    max-height: 300px;
    border-radius: 50%;
    margin-left: 100px;
    padding-right: 50px;

}
.promo-title h1 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Alegreya', serif;
    margin-top: 50px;
    line-height: 1.5;
    padding-top: 50px;

}

.promo-title p{
    font-size: 30px;
    margin-top: 40px;
    font-weight: 500;

}

#banner {
    background-size: cover;
    color: rgb(225, 230, 237);
    padding-top: 5%;
    height: 100%;
    height: 650px;
    opacity: 100%;
}



#pricelist {
    padding: 50px;
}
 
#pricelist p {
    padding-top: 50px;
}

#consultation {
    padding: 50px;
}

#consultation p {
    padding-top: 50px;
}

#consultation h5 {
    padding-top: 40px;
    padding-bottom: 20px;
}

.card {
    width: 100%;
    max-width: 350px;
    margin: auto;
    padding: 30px 0px 30px 30px;
    border: none !important;

}

.card-img {
    margin: auto;
}

.card p {
    font-size: 18px;
}

.card-text {
    font-size: 18px;
}

.card img {
    max-width: 150px;
}

.footer {
    text-align: center;
}
}